name: Zeme Tests

on:
	push:
		paths:
			- '**.py'
			- '**.github/**'

jobs:
	test:
		runs-on: ubuntu-latest

		steps:
		- name: Checkout code
			uses: actions/checkout@v4

		- name: Set up Python
			uses: actions/setup-python@v5
			with:
				python-version: "3.x"

		- name: Run Zeme Tests
			run: python test_zeme.py
